{
  "plugins": [
    "react"
  ],
  "extends": [
    "airbnb-base",
    "react-app"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": {
      "devDependencies": true
    }
  }
}
